.swap_predict {
  border-radius: 16px;
  background-color: #383838;;
  padding: 16px 16px 4px 16px;
  margin-bottom: 8px;
}
.title{
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 700;
}
.content_text{
  color: #FFFFFF;
  font-size: 16px;
}
.content_text_small{
  color: #FFFFFF;
  font-size: 14px;
}
.content_text_small_silver{
  color: #B8B9BB;
  font-size: 14px;
}


.swap_price {
  border-radius: 16px;
  background-color: #383838;
  padding: 20px;
  margin-bottom: 8px;
}

.price_list {
  display: flex;
  flex-direction: row;
}

.detail {
  background: #1A1A1A;
border: 3px solid #333333;
border-radius: 20px;
  padding: 16px;
  margin-bottom: 8px;
}
