html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
  background-image: url(../images/background.png);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.left_padding_4 {
  padding-left: 4px;
}

.right_padding_4 {
  padding-left: 4px;
}

.bottom_padding_8 {
  padding-bottom: 8px;
}

.top_padding_8 {
  padding-top: 8px;
}

.top_padding_4 {
  padding-top: 4px;
}

.top_padding_2 {
  padding-top: 2px;
}

.top_padding_24 {
  padding-top: 24px;
}

.text_right {
  text-align: right;
}

.common_text {
  color: #b8b9bb;
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto";
}

.black_text {
  color: #333333;
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto";
}

.common_small_text {
  color: #b8b9bb;
  font-weight: bold;
  font-size: 12px;
  font-family: "Roboto";
}

.black_small_text {
  color: #333333;
  font-weight: bold;
  font-size: 12px;
  font-family: "Roboto";
}
